@font-face { font-family: 'Goudy Bookletter 1911'; src: url('../GoudyBookletter1911-Regular.ttf'); } 
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
}

body {
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/blackorchid.png);
  overflow: hidden;
}

#container0{
    display:flex; 
    height:100vh;
    width:100vw; 
    position:relative;
    animation: slidein 3s linear 14s forwards;
  }
    
  @keyframes slidein {
    from {  height: 100vh;}     
    to {height: 0vh; }
  }

.wrapper{
    height: 300px;
    width: 300px;
    margin: 15% auto;
}
.box-area{
    animation: animate 10s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 150px,150px, 0;
}
.box-area div {
    position: absolute;
    height:200px;
    width:200px;
    line-height: 100px;
    box-shadow: aquamarine;
}
.box-area .box1{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:translateZ(100px);
}
.box-area .box2{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:rotateY(90deg) translateZ(100px);
}
.box-area .box3{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.box-area .box4{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.box-area .box5{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.box-area .box6{
    background-image: url(../images/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transform:rotateX(-90deg) translateZ(100px);
}
@keyframes animate {
    from,to {
       transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
     }
     33% {
        transform: rotateY(-90deg) rotateZ(0deg);
     }
     50% {
        transform: rotateY(-180deg) rotateZ(90deg);
     }
     66% {
        transform: rotateY(-270deg) rotateX(90deg);
     }
     83% {
        transform: rotateX(90deg);
     }
}